{% extends "base.html" %}

{% block content %}
  <a href="/" class="main-page-banner">
    <h1 class="main-page">David Venturi's IPND Notes</h1>
  </a>
  {% for stage in stages %}
    <!-- If the stage number is an even number: -->
    {% if stage.stage_number % 2 == 0 %}
      <a href="{{stage.stage_url}}" class="stage-title">
        <!-- Use a parent-child div method to center the text vertically within the div. See http://vanseodesign.com/css/vertical-centering/ "Line Height Method" for
        reference. The even/odd stage div is the child container. -->
        <div class="parent-container">
          <div class="even-stage">{{stage.stage_title}}</div>
        </div>
      </a>
    <!-- If the stage number is an odd number: -->
    {% else %}
      <a href="{{stage.stage_url}}" class="stage-title">
        <div class="parent-container">
          <div class="odd-stage">{{stage.stage_title}}</div>
        </div>
      </a>
    {% endif %}
  {% endfor %}
{% endblock %}
