{% extends "base.html" %}

{% block content %}
  {% for stage in stages %}
    {% if stage.stage_url in current_url %}
      <div class="toc">
        <h2>{{stage.stage_title}}</h2>
        <ol>
          {% for lesson in stage.lessons %}
            <li><a href="#{{lesson.lesson_id}}">{{lesson.lesson_title}}</a>
              <ul>
                {% for concept in stage.concepts[lesson.lesson_number-1] %}
                  <li><a href="#{{concept.concept_id}}">{{concept.concept_title}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          <li><a href="#comment-section">Comments</a></li>
        </ol>
      </div>
      {% for lesson in stage.lessons %}
        <!-- Iterate through the lessons list in main.py and display each lesson. -->
        <div class="lesson" id="{{lesson.lesson_id}}">
          <div class="lesson-title">
            <h3>{{lesson.lesson_title}}</h3>
          </div>
          <div class="lesson-info">
            <!-- Iterate through the concepts list in main.py and display each concept. -->
            {% for concept in stage.concepts[lesson.lesson_number-1] %}
              <div class="concept" id="{{concept.concept_id}}">
                <div class="concept-title">
                  <h3>{{concept.concept_title}}</h3>
                </div>
                <div class="concept-description">
                  {{concept.concept_description}}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      {% block comments %}
      {% endblock %}
    {% endif %}
  {% endfor %}
{% endblock %}
