* {
    margin: 10px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

html {
    margin: 0px;
}

body {
    margin: 0px;
    background-color: #FAFAFA; /* Outermost background is off-white */
}

h1 {
    text-align: center;
    background: rgba(255,0,0,0.45);
    height: 10vh;
    font-size: 7vh;
    white-space: nowrap;
}

input {
    margin: 7px 0 0 0;
    border: 0;
    padding: 8px;
    font-size: 12px;
}

input[type="submit"] {
    background: rgba(255,0,0,0.7);
    color: white;
}

input[type="submit"]:hover {
    background: #FF0C2C;
    color: white;
}

span {
    font-weight: bold; /* Emphasize key words in the notes */
    margin: 0px;
}

/* [START HYPERLINK STYLING] */
a {
    color: #FF0C2C; /* Hyperlinks are red */
    margin: 0px;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

a.bio-link {
    padding: 5px 25px;
    color: black;
    font-weight: bold;
}

a.bio-link:hover {
    text-decoration: none;
    color: rgba(255,0,0,0.7);
}

a.banner {
    color: black;
    text-decoration: none;
}

a.banner:hover {
    color: rgba(225,225,255,1);
}

a.stage-title {
    color: black;
    text-decoration: none;
}

a.stage-title:hover {
    color: rgba(255,0,0,0.7);
}
/* [END HYPERLINK STYLING] */

li {
    margin: 0px;
}

img {
    max-width: 50%;
    min-width: 400px;
    margin: 0px;
    display: block;  /* Center the image */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6px;
}

textarea {
    margin: 0px;
    width: 99%;
}

iframe {
    margin-left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.main-page {
    margin: 1.7vh; /* Make the margin of the main page proportional to the stage divs
                      and their margins */
}

.bio {
    background: rgba(225,225,255,0.7);
    text-align: center;
    height: 3vh;
    font-size: 2.1vh;
    white-space: nowrap;

}

/* The parent container styling for the parent-child div method for vertical */
/* text centering. See main_page.html for details. */
.parent-container {
    margin: 0px;
}

/* Along with .even-stage below, the child container styling for the parent- */
/* child method for vertical text centering. See main_page.html for details. */
.odd-stage {
    height: 14.68vh;
    background: rgba(225,255,225,0.9);
    text-align: center;
    font-size: 5.2vh;
    margin: 1.7vh;
    line-height: 14.5vh;
    white-space: nowrap;
}

.even-stage {
    height: 14.68vh;
    white-space: nowrap;
    background: rgba(225,225,255,0.7);
    text-align: center;
    font-size: 5.2vh;
    margin: 1.7vh;
    line-height: 14.5vh;
    white-space: nowrap;
}

.toc {
    background: rgba(225,255,225,0.9); /* TOC is translucent green */
    padding: 5px;
}

/* The next four classes are various translucencies of blue */

.lesson {
    display: flex; /* Position lesson content alongside lesson title */
    background: rgba(225,225,255,0.4);
}

.lesson-title {
    font-weight: bold;
    font-size: 140%;
    width: 200px;
    min-width: 200px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    background: rgba(225,225,255,0.7);
}

.lesson-info {
    background: rgba(225,225,255,0.4);
    margin-left: 0px;
    width: 100%; /* Set the width of the lesson information equal to the
                    remainder of the browser width */
}

.concept {
    background: rgba(225,225,255,1);
}

.concept-title {
    padding-top: 0.3px;
    margin-bottom: -4px;
    color: #FF0C2C; /* Concept title is red */
}

.concept-description {
    padding-bottom: 6px;
}

.comment-section {
    background: rgba(225,225,255,0.4);
    padding: 1px;
}

.post-comment {
    background: #FAFAFA; /* Comment submission box is off-white */
    padding: 5px;
    padding-top: 1px;
}

.comment {
    background: #FAFAFA; /* Individual comment boxes are off-white */
    padding: 5px;
}

.comment-time {
    color: #FF0C2C; /* Comment time is red */
    margin-bottom: 3px;
}

.comment-error { /* Format the error message box when the user posts a blank comment */
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: 25px;
    width: 100%;
    height: 0px;
    position: relative;
    padding-top: 4px;
    padding-bottom: 56.250%;
}

.comment-error-text { /* Format the error text when the user posts a blank comment */
    color: #FF0C2C;
    font-weight: bold;
    text-align: center;
}

.quote {
    margin-left: 25px;
}
