{% extends "base.html" %}

{% block content %}
  <a href="/" class="banner">
    <h1>David Venturi's IPND Notes</h1>
  </a>
  <div class="bio">
    <a href="https://twitter.com/venturidj" class="bio-link" target="_blank">Twitter</a>
    <a href="https://github.com/venturidj" class="bio-link" target="_blank">GitHub</a>
    <a href="https://ca.linkedin.com/in/davidventuri" class="bio-link" target="_blank">LinkedIn</a>
    <a href="https://www.udacity.com/course/intro-to-programming-nanodegree--nd000" class="bio-link" target="_blank">IPND</a>
  </div>
  {% for stage in stages %}
    {% if stage.stage_url == current_path %}
      <div class="toc">
        <h2>{{stage.stage_title}}</h2>
        <ol>
          {% for lesson in stage.lessons %}
            <li><h3><a href="#{{lesson.lesson_id}}">{{lesson.lesson_title}}</a></h3>
              <ul>
                {% for concept in stage.concepts[lesson.lesson_number-1] %}
                  <li><a href="#{{concept.concept_id}}">{{concept.concept_title}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          <li><h3><a href="#comment-section">Comments</a></h3></li>
        </ol>
      </div>
      {% for lesson in stage.lessons %}
        <!-- Iterate through the lessons list in main.py and display each lesson. -->
        <div class="lesson" id="{{lesson.lesson_id}}">
          <div class="lesson-title">
            <h3>{{lesson.lesson_title}}</h3>
          </div>
          <div class="lesson-info">
            <!-- Iterate through the concepts list in main.py and display each concept. -->
            {% for concept in stage.concepts[lesson.lesson_number-1] %}
              <div class="concept" id="{{concept.concept_id}}">
                <div class="concept-title">
                  <h3>{{concept.concept_title}}</h3>
                </div>
                <div class="concept-description">
                  {{concept.concept_description}}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      {% block comments %}
      {% endblock %}
    {% endif %}
  {% endfor %}
{% endblock %}
